.article-post img {
    display: block;
    margin: auto;
    /*object-fit: contain;*/
    max-height: 60vh;
    max-width: 100%;
    color: #5d627b;
    background: white;
    border: gray;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}


.article-post > h1 {
    border-bottom: solid 3px #00965f;/*左線*/
    padding: 0.25em 0.2em;/*上下 左右の余白*/
}

.article-post {
    word-break: break-all;
    font-size: 1.0rem;
}

.page-toc {
    margin: 2em 0;
    padding: 1em;
    width: auto;
    border: 1px solid #00ab6b;;
}

#TableOfContents li:empty {
    display: none !important;
}